body {
    font-size: 20px;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    color: #fff;
    background-color: #f1a923;
}

th {
    padding-right: 250px;
}

td {
    word-wrap: break-word;
    padding-bottom: 10px;
}

h1 {
    text-align: center;
}

label {
    display: inline-block;
    margin-bottom: 10px;
}

input[type="text"] {
    color: black;
}

.table-wrapper {
    margin: 0 auto;
    background-color: black;
    max-width: 60%;
    -webkit-overflow-scrolling: touch;
    border-radius: 5px;
    padding: 25px;
}

.btn-primary {
    color: #fff;
    background-color: #039c15;
    border-color: #0f6302;
}

.btn-outline-danger {
    color: #fff;
    background-color: #039c15;
    border-color: #0f6302;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0e5001;
    border-color: #033301;
}
